<th:block th:fragment="jsLibraries">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libraries/lib/chart/chart.min.js"></script>
    <script src="/libraries/lib/easing/easing.min.js"></script>
    <script src="/libraries/lib/waypoints/waypoints.min.js"></script>
    <script src="/libraries/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/libraries/js/main.js"></script>
    <script src="/libraries/js/product.js"></script>
</th:block>