<th:block th:fragment="jsLibraries">
    <script src="/libraries/lib/chart/chart.min.js"></script>
    <script src="/libraries/lib/easing/easing.min.js"></script>
    <script src="/libraries/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/libraries/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/libraries/js/main.js"></script>
    <script src="/libraries/js/product.js"></script>
</th:block>