<th:block th:fragment="navigation">
<div class="container">
    <!-- Start Header Navigation -->
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/home"><img src="/assets/images/logo.png" class="logo" alt=""></a>
    </div>
    <!-- End Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/shop">Product</a></li>
            <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

    <!-- Start Atribute Navigation -->

    <div class="attr-nav">
        <ul>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            <li class="side-menu">
                <a href="#">
                    <i class="fa fa-shopping-bag"></i>
                    <span class="badge">3</span>
                    <p>My Cart</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="login-box" th:if="${username == null}">
        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
            <option th:href="@{/register}">Register Here</option>
            <option th:href="@{/login}">Sign In</option>
        </select>
    </div>

    <div id="user-info" th:if="${username}">
        <img id="user-avatar" src="https://e7.pngegg.com/pngimages/922/729/png-clipart-computer-icons-user-profile-business-san-giovanni-in-persiceto-logo-computer-wallpaper-thumbnail.png">
        <div class="dropdown-content" id="dropdown-menu">
            <th:block th:if="${isAdmin}">
                <span style="border-bottom: 1px solid black;" th:text="${username} + ' - Admin'"></span>
            </th:block>

            <th:block th:if="${isClient}">
                <span style="border-bottom: 1px solid black;" th:text="${username} + ' - Client'"></span>
                <div id="username" style="display: none" th:text="${username}"></div>
            </th:block>
            <a href="/logout" id="logout-button">LogOut</a>
        </div>
    </div>
    <!-- End Atribute Navigation -->
</div>

<!-- Start Side Menu -->
<div class="side">
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <li class="cart-box">
        <ul class="cart-list" id="tbCartDetail">

            <li class="total">
                <a href="/cart" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                <span class="float-right"><strong>Total</strong>: $180.00</span>
            </li>
        </ul>
    </li>
</div>
<!-- End Side Menu -->
</th:block>