<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ADMIN FRESH SHOP</title>
  <th:block th:replace="/admin/layout/head :: head"/>
</head>

<body>
<div class="">

  <!-- Spinner Start -->
  <th:block th:replace="/admin/layout/spinner :: spinner"/>
  <!-- Spinner End -->

  <!-- Sidebar Start -->
  <th:block th:replace="/admin/layout/sidebar :: sidebar"/>
  <!-- Sidebar End -->

  <!-- Content Start -->
  <div class="content">

    <!-- Navbar Start -->
    <th:block th:replace="/admin/layout/navbar :: navbar"/>
    <!-- Navbar End -->

    <!-- Table Start -->
    <div class="container-fluid" >
      <div id="main-container" style="height: 75vh">
        <header>
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="margin: 10px">
              <span class="navbar-brand">List Of User</span>
            </div>
          </nav>
        </header>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Username</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody id="tbUser">

          </tbody>
        </table>
      </div>
    </div>

    <!-- Table End -->

    <!-- Footer Start -->
    <th:block th:replace="/admin/layout/footer :: footer"/>
    <!-- Footer End -->

  </div>
  <!-- Content End -->

</div>

<!-- JavaScript Libraries -->
<th:block th:replace="/admin/layout/jsLibraries :: jsLibraries"/>
<!-- JavaScript Libraries -->

<script>
  $(document).ready(function() {
    const bodyUser = $("#tbUser");

    const fetchAllUser = async () => {
      try {
        return await $.ajax({
          url: "http://localhost:8080/api/user",
          method: "GET",
          dataType: "json"
        });
      } catch (error) {
        console.error("Error:", error);
      }
    };

    const renderUser = (obj) => {
      return `
            <tr>
                <td>${obj.id}</td>
                <td>${obj.fullName}</td>
                <td>${obj.email}</td>
                <td>${obj.phoneNumber}</td>
                <td>${obj.address}</td>
                <td>${obj.username}
                </td>
                <td>${obj.role}</td>
            </tr>
        `;
    };

    const getAllUser = async () => {
      const Users = await fetchAllUser();
      console.log(Users);

      Users.forEach(item => {
        const str = renderUser(item);
        bodyUser.append(str);
      });
    };

    getAllUser();
  });
</script>

</body>

</html>